textarea {
    transition: none;
    min-width: 100%;
    min-height: 40vh;
    resize: none;
}

input, textarea {
    background: #ededed;
    color: var(--black);
    border: none;
}

label { color: var(--orange) }