#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-size: calc(25px + 1vmin);
    color: var(--orange);
    font-weight: 700;
    background: var(--link-highlight);
    padding: 8px 10px;
    min-width: 18%;
    min-height: 10%;
    text-align: center;
    -webkit-transition: all .13s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
    transition: all .13s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
}

.link:hover {
    border-radius: 10px;
    background: #444444;
}