@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans&display=swap');
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css");
@import url("https://s.pageclip.co/v1/pageclip.css");
@import url("modules/grid.css");

:root {
  --black: #2f2f2f;
  --white: #fdfdfd;
  --orange: #e1bc29;
  --link-highlight: #3c3c3c
  --big-fonts: 'Roboto', sans-serif;
  --small-fonts: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}