@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans&display=swap');
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css");
@import url("https://s.pageclip.co/v1/pageclip.css");

:root {
  --black: #2f2f2f;
  --white: #fdfdfd;
  --orange: #e1bc29;
  --link-highlight: #3c3c3c;
  --big-fonts: 'Roboto', sans-serif;
  --small-fonts: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  background: var(--black);
  color: var(--white);
}

body, html {
  height: 100%;
  font-family: var(--small-fonts);
}

a { text-decoration: none }

#contact-container {
  height: 100%;
  display: grid;
  grid-template: 1fr 0.5fr 5fr / 1fr;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;

}

#index-link {
  font-size: calc(27px + 1vmin);
  font-weight: 800;
}

.link {
  font-size: calc(25px + 1vmin);
  color: var(--orange);
  font-weight: 700;
  background: var(--link-highlight);
  padding: 5px 10px;
}

@media screen and (max-width: 430px) {

  #navbar {
    flex-flow: column nowrap;
    text-align: center;
  }

  #navbar a {
    padding: 5px 0;
    min-width: 100%;
    margin: 1% 0 0 0;
  }

  #navbar a:nth-child(5) {
    margin: 1% 0 2% 0;
  }

  .link {
    font-size: calc(20px + 1vmin);
    font-weight: 600;
    padding: 2px 5px;
  }

  #index-link {
    font-size: calc(27px + 1vmin);
    font-weight: 800;
  }
}