@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans&display=swap');
@import url("modules/grid.css");

:root {
    --black: #2f2f2f;
    --white: #fdfdfd;
    --orange: #e1bc29;
    --big-fonts: 'Roboto', sans-serif;
    --small-fonts: 'Open Sans', sans-serif;
}

::selection {
    background: white;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    background: var(--black);
    color: var(--white);
    transition: all 0.1s;
}

html, body { height: 100% }

h1, h2, h3, p { margin: 0; padding: 0; }

h1, h2, h3 { font-family: var(--big-fonts) }

p { font-family: var(--small-fonts) }

.mobile { display: none; }

.header-text {
    font-size: calc(55px + 3vmin);
    margin: 0 0 1vh 6%;
}

.subheader-text {
    font-size: calc(45px + 2vmin);
    margin: 5px 0 10px 15px;
}

.tiny-text {
    font-size: calc(21px + 1vmin);
    margin: 15px 0 10px 15px;
    line-height: 50px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: var(--orange);
    background: #3c3c3c;
}

#fancy-text {
    padding: 0 8px;
    margin: 0;
    border-radius: 2px;
    letter-spacing: 10px;
    -webkit-transition: all .13s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
    transition: all .13s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
}

.name-link {
    padding: 0 8px;
    margin: 0;
    border-radius: 2px;
    -webkit-transition: all .13s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
    transition: all .13s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
}

.name-link:hover {
    border-radius: 25px;
    background: #444444;
}

.inline-link {
    text-decoration: none;
    padding: 4px 9px;
    -webkit-transition: all .16s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
    transition: all .16s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
    font-weight: bold;
}

.inline-link:hover {
    border-radius: 6px;
    background: #444444;
}

.name-link { font-size: calc(60px + 2vmin) }

@media screen and (max-width: 430px) {
    .header-text {
        font-size: calc(40px + 2vw);
        margin: 0 0 2vh 5%;
    }
    .name-link { font-size: calc(45px + 2vw) }
    .subheader-text { font-size: calc(27px + 1vw) }
    .tiny-text { font-size: calc(25px + 1vw) }
}

@media screen and (max-width: 380px) {
    .header-text {
        font-size: calc(35px + 2vw);
        margin: 0 0 2vh 4%;
    }

    .name-link { font-size: calc(40px + 2vw) }
    .subheader-text { font-size: calc(24px + 1vw) }
    .tiny-text { font-size: calc(20px + 1vw) }
}

@media screen and (max-width: 330px) {
    .header-text {
        font-size: calc(25px + 2vw);
        margin: 0 0 2vh 7%;
    }
    .name-link { font-size: calc(30px + 2vw) }
    .subheader-text { font-size: calc(20px + 1vw) }
    .tiny-text { font-size: calc(18px + 1vw) }
}