@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans&display=swap');
@import url("modules/grid.css");

:root {
    --black: #2f2f2f;
    --white: #F7F7F2;
    --orange: #e1bc29;
    --big-fonts: 'Roboto', sans-serif;
    --small-fonts: 'Open Sans', sans-serif;
}

::selection {
    background: white;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    /* font-weight: normal; */
}

html,
body {
    overflow: hidden;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 100%;
    background: var(--black);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

#about-text {
    font-family: var(--big-fonts);
}

.header-text {
    font-size: calc(55px + 3vmin);
}

#fancy-text {
    font-size: calc(60px + 3vmin);
    font-weight: bold;
    color: var(--orange);
    letter-spacing: 15px;
    margin-right: 15px;
}

.fancy-link {
    color: var(--orange);
    text-decoration: none;
    font-weight: bold;
    background: #3c3c3c;
    padding: 0 8px;
    border-radius: 2px;
    -webkit-transition: all .13s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
    transition: all .13s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
}

.fancy-link:hover {
    border-radius: 25px;
    background: #444444;
}

.subheader-text {
    font-size: calc(45px + 2vmin);
}

.tiny-text {
    font-family: 'Open Sans', sans-serif;
    line-height: 50px;
    font-size: calc(21px + 1vmin);
    margin: 5px 0;
}

.inline-link {
    color: var(--orange);
    text-decoration: none;
    background: #3c3c3c;
    padding: 4px 9px;
    -webkit-transition: all .16s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
    transition: all .16s cubic-bezier(0.65, 0.05, 0.57, 1.01) 0s;
    font-weight: bold;
}

.inline-link:hover {
    border-radius: 6px;
    background: #444444;
}

.animationBox {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 10%;
    pointer-events: none;
}

.animationBox:nth-child(even) {
    background: #fdfdfd;
}

.animationBox:nth-child(odd) {
    background: #2f2f2f;
}