html,
body {
    height: 100%;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #fdfdfd;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    background: #2f2f2f url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23393939' stroke-width='11.6' stroke-opacity='0.61'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

a {
    -webkit-text-decoration: underline #fdfdfd dashed;
            text-decoration: underline #fdfdfd dashed;
    color: #fdfdfd;
    font-size: 1.4vmax;
}

h1 {
    margin: 0.5em;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6 1fr);
    grid-template-rows: 1fr 2fr 3fr 3fr 2fr 1fr;
    grid-template-areas:
        "de de de de de de"
        "ti ti ti ti ti ti"
        ". . sti sti . ."
        "te te te ste ste ste"
        ". . . . . ."

}

.centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.dead {
    grid-area: de;
    font-size: 2em;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    font-family: sans-serif;
}

.title {
    grid-area: ti;
    font-size: 3vw;
    align-self: flex-start;

}

.subtitle {
    grid-area: sti;
    align-self: flex-start;
    font-size: 1.5vmax;
}

.text {
    grid-area: te;
    font-size: 1.2vmax;
    align-self: flex-start;
    margin: 10px;
}

.subtext {
    grid-area: ste;
    font-size: 1.2vmax;
    align-self: flex-start;
    margin: 10px;
}
