html,
body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    cursor: default;
    user-select: none;
    background: #2f2f2f;
    color: #fdfdfd;
}

a {
    text-decoration: none;
    color: inherit;
}

.about-container {
    height: 100%;
    display: grid;
    grid-template: 0.5fr 1fr 8fr 1fr 0.5fr / 1fr 4fr 1fr;
    grid-template-areas:
        "header header header"
        ". . ."
        ". body-text ."
        ". . . "
        "footer footer footer";
}

.header-container {
    grid-area: header;
    display: grid;
    grid-template: repeat(6 1fr)/auto;
    grid-template-areas:
        "about projects home home contact tba";
}


.body-container {
    grid-area: body-text;
    display: grid;
    grid-template: repeat(3 1fr) / 1fr 1fr 5fr;
    grid-template-areas:
        ". title"
        ". . ."
        "paragraph paragraph paragraph";
}

.text-flex {
    display: flex;
}

.title {
    grid-area: title;
    justify-self: end;
    align-self: flex-end;
    text-shadow: 0.25vmin 0.25vmin 0 #E79C10, -0.25vmin -0.25vmin 0 #D53A33;
}

.paragraph {
    grid-area: paragraph;
    padding-top: 15px;
}

.footer {
    grid-area: footer;
}

.full-box {
    display: flex;
    background: #393939;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
    padding-top: 5px;
}

.full-box:hover {
    background: #252525;
}

.full-box:active {
    background: #fdfdfd;
    color: #2f2f2f;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
}

.home {
    grid-area: home;
    background: #2f2f2f;
    font-size: 3.5vh;
    padding-top: 5px;
}

.contact {
    grid-area: contact;
}

.tba {
    grid-area: tba;
}